<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Standard Character Creation</title>
</head>
<body>
    <p>Note: This site only uses information found in the Player's Handbook. Further additions to be made.</p>
    <form>
        <label for="name">Character Name
            <input type="text" id="name">
        </label><br>
        <label for="race">Character Race
            <select id="race">
                <option>Dragonborn</option>
                <option>Dwarf</option>
                <option>Elf</option>
                <option>Gnome</option>
                <option>Halfling</option>
                <option>Half-Elf</option>
                <option>Half-Orc</option>
                <option>Human</option>
                <option>Tiefling</option>
            </select>
        </label><br>
        <label for="class">Character Class
            <select id="class">
                <option>Barbarian</option>
                <option>Bard</option>
                <option>Cleric</option>
                <option>Druid</option>
                <option>Fighter</option>
                <option>Monk</option>
                <option>Paladin</option>
                <option>Ranger</option>
                <option>Rogue</option>
                <option>Sorcerer</option>
                <option>Warlock</option>
                <option>Wizard</option>
            </select>
        </label><br>
        <label for="background">Background
            <select id="background">
                <option>Acolyte</option>
                <option>Charlatan</option>
                <option>Criminal</option>
                <option>Entertainer</option>
                <option>Folk Hero</option>
                <option>Guild Artisan</option>
                <option>Hermit</option>
                <option>Noble</option>
                <option>Outlander</option>
                <option>Sage</option>
                <option>Sailor</option>
                <option>Soldier</option>
                <option>Urchin</option>
            </select>
        </label><br>
        <label for="armor">Armor
            <select id="armor">
                <option>Breastplate</option>
                <option>Chain Mail</option>
                <option>Chain Shirt</option>
                <option>Half plate</option>
                <option>Hide</option>
                <option>Leather</option>
                <option>Padded</option>
                <option>Plate</option>
                <option>Ring mail</option>
                <option>Scale mail</option>
                <option>Splint</option>
                <option>Studded Leather</option>
                <option>Unarmored</option>
            </select>
        </label><br>
        <label>Weapon
            <input type="checkbox" name="weapon[]" value="battleaxe">Battleaxe
            <input type="checkbox" name="weapon[]" value="blowgun">Blowgun
            <input type="checkbox" name="weapon[]" value="club">Club
            <input type="checkbox" name="weapon[]" value="dagger">Dagger
            <input type="checkbox" name="weapon[]" value="dart">Dart
            <input type="checkbox" name="weapon[]" value="flail">Flail
            <input type="checkbox" name="weapon[]" value="glaive">Glaive
            <input type="checkbox" name="weapon[]" value="greataxe">Greataxe
            <input type="checkbox" name="weapon[]" value="greatclub">Greatclub
            <input type="checkbox" name="weapon[]" value="greatsword">Greatsword
            <input type="checkbox" name="weapon[]" value="halberd">Halberd
            <input type="checkbox" name="weapon[]" value="handaxe">Handaxe
            <input type="checkbox" name="weapon[]" value="hand_crossbow">Hand Crossbow
            <input type="checkbox" name="weapon[]" value="heavy_crossbow">Heavy Crossbow
            <input type="checkbox" name="weapon[]" value="javelin">Javelin
            <input type="checkbox" name="weapon[]" value="lance">Lance
            <input type="checkbox" name="weapon[]" value="light_crossbow">Light Crossbow
            <input type="checkbox" name="weapon[]" value="light_hammer">Light Hammer
            <input type="checkbox" name="weapon[]" value="longbow">Longbow
            <input type="checkbox" name="weapon[]" value="longsword">Longsword
            <input type="checkbox" name="weapon[]" value="mace">Mace
            <input type="checkbox" name="weapon[]" value="maul">Maul
            <input type="checkbox" name="weapon[]" value="morningstar">Morningstar
            <input type="checkbox" name="weapon[]" value="net">Net
            <input type="checkbox" name="weapon[]" value="pike">Pike
            <input type="checkbox" name="weapon[]" value="quarterstaff">Quarterstaff
            <input type="checkbox" name="weapon[]" value="rapier">Rapier
            <input type="checkbox" name="weapon[]" value="scimitar">Scimitar
            <input type="checkbox" name="weapon[]" value="shortbow">Shortbow
            <input type="checkbox" name="weapon[]" value="shortsword">Shortsword
            <input type="checkbox" name="weapon[]" value="sickle">Sickle
            <input type="checkbox" name="weapon[]" value="spear">Spear
            <input type="checkbox" name="weapon[]" value="sling">Sling
            <input type="checkbox" name="weapon[]" value="trident">Trident
            <input type="checkbox" name="weapon[]" value="war_pick">War Pick
            <input type="checkbox" name="weapon[]" value="warhammer">Warhammer
            <input type="checkbox" name="weapon[]" value="whip">Whip
        </label><br>
        <label>Shield
            <input name="shield" type="radio" value="yes">Yes
            <input name="shield" type="radio" value="no">No
        </label><br>
        <input type="submit">Next Page >
    </form>
</body>
</html>