<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Standard Character Creation</title>
</head>
<body>
    <p>Note: This site only uses information found in the Player's Handbook. Further additions to be made.</p>
    <form>
        <label for="name">Character Name
            <input type="text" id="name">
        </label>
        <label for="race">Character Race
            <select id="race">
                <option>Dragonborn</option>
                <option>Dwarf</option>
                <option>Elf</option>
                <option>Gnome</option>
                <option>Halfling</option>
                <option>Half-Elf</option>
                <option>Half-Orc</option>
                <option>Human</option>
                <option>Tiefling</option>
            </select>
        </label>
        <label for="class">Character Class
            <select id="class">
                <option>Barbarian</option>
                <option>Bard</option>
                <option>Cleric</option>
                <option>Druid</option>
                <option>Fighter</option>
                <option>Monk</option>
                <option>Paladin</option>
                <option>Ranger</option>
                <option>Rogue</option>
                <option>Sorcerer</option>
                <option>Warlock</option>
                <option>Wizard</option>
            </select>
        </label>

    </form>
</body>
</html>