<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Character Creator with Help</title>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="#">D&D Character Creator</a>
</nav>

    <p>Note: This site only uses information found in the Player's Handbook. Further additions to be made.</p>

    <form>
        <p>How would you like help creating this character?</p>
        <label>
            <input type="radio" name="personality">Personality Quiz
            <input type="radio" name="Randomizer">Random Character Generator
        </label>
    </form>
</body>
</html>