<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Character Creator</title>
</head>
<body>
<div>
    <form method="post" name="form" action="#">
        <label for="name">Character Name</label>
        <input type="text" id="name">

        <label for="races">Race:
            <select id="races" name="race_choice" onchange="getRaces()">
            </select>
        </label>

        <label for="classes">
            <select id="classes" name="class_choice" onchange="getClasses()">
            </select>
        </label>

        <label>
            <input type="number" id="str" max="20">
        </label>

        <label>
            <input type="number" id="dex" max="20">
        </label>

        <label>
            <input type="number" id="con" max="20">
        </label>

        <label>
            <input type="number" id="wis" max="20">
        </label>

        <label>
            <input type="number" id="int" max="20">
        </label>

        <label>
            <input type="number" id="cha" max="20">
        </label>

        <label>
            <input type="number" id="initiative">
        </label>

        <input type="submit">
    </form>
</div>
</body>
<script>
    function getRaces() {
        let dropdown = document.getElementById('race');
        dropdown.length = 0;

        let defaultOption = document.createElement('option');
        defaultOption.text = 'Choose Race...';

        dropdown.add(defaultOption);
        dropdown.selectedIndex = 0;

        const url = 'http://dnd5eapi.co/api/races/';

        const request = new XMLHttpRequest();
        request.open('GET', url, true);

        request.onload = function () {
            if (request.status === 200) {
                const data = JSON.parse(request.responseText);
                let option;
                for (let i = 0; i < data.length; i++) {
                    option = document.createElement('option');
                    option.text = data[i].name;
                    option.value = data[i].index;
                    dropdown.add(option);
                }
            } else {
                // Reached the server, but it returned an error
            }
        };

        request.onerror = function () {
            console.error('An error occurred fetching the data from ' + url);
        };

        request.send();
    }

    function getClasses() {
        let dropdown = document.getElementById('classes');
        dropdown.length = 0;

        let defaultOption = document.createElement('option');
        defaultOption.text = 'Choose Class...';

        dropdown.add(defaultOption);
        dropdown.selectedIndex = 0;

        const url = 'http://dnd5eapi.co/api/classes/';

        const request = new XMLHttpRequest();
        request.open('GET', url, true);

        request.onload = function () {
            if (request.status === 200) {
                const data = JSON.parse(request.responseText);
                let option;
                for (let i = 0; i < data.length; i++) {
                    option = document.createElement('option');
                    option.text = data[i].name;
                    option.value = data[i].index;
                    dropdown.add(option);
                }
            } else {
                // Reached the server, but it returned an error
            }
        };

        request.onerror = function () {
            console.error('An error occurred fetching the data from ' + url);
        };

        request.send();
    }
</script>
</html>
