<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Character Creator</title>
</head>
<body>
    <div method="post" href="#" name="form">
        <form>
            <label for="name">Character Name</label>
            <input type="text" id="name">
            <label for="race">Character Race</label>
            <input type="text" id="race">
            <label for="class">Character Class</label>
            <input type="text" id="class">
        </form>
    </div>
</body>
</html>