<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DnD_Characters Home Page</title>
</head>
<body>
    <div>
        <h1>D&D Character Creator</h1>

        <p>This site is here to help you create a new D&D Character using the 5e system. This site is not intended to
        help maintain a character, but to help you create a character for you to use.</p>
    </div>
    <form action="#" method="post">
        <button id="alone">Create Alone</button>
    </form>
    <form action="#" method="post">
        <button id="help">Create with Help</button>
    </form>
</body>
</html>